/* styles.css */
    body {
        font-family: Monospace, sans-serif;
        margin: 20px;
        color: white;
        background-color: #2C2D2D;}

/**centering text**/
    h1,main > p {
        text-align: center;}


/**modifying img size and layout**/
    img {
        width: 200px;
        height: auto;}

    .about-container {
        display: flex;
        align-items: flex-start;
        gap: 20px;}

    .about-text {
        flex: 1;}

    .container {
        text-align: center;}


/* Modifying list layout */
    ul {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;}